.hero {
  min-height: 600px;

  &-wrapper{
    max-width: 1440px;
  }

  &-left {
    background-image: url(../assets/images/hero-bg.svg);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &-img{
    border-radius: 10px;

    &--left{
      max-width: 50%;
      object-fit: cover;
    }

    &--right{
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}

.cover-pages {
  height: 250px;
  overflow: hidden;
}
