// Base styling for the navbar
// Custom variables
$navbar-height: 80px;

$text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
$text-shadow-2: 0 1px 2px rgba(0, 0, 0, 0.5);

$navbar-color: white;
$navbar-cta-color: white;
$navbar-cta-bg-color: $primary;
$navbar-text-color: $dark-black;
$navbar-text-color-hover: $gray-800;
$navbar-font-family: $font-family-base;


$navbar-togle-collapse: white;
$navbar-togle-collapse-line: #ddd;


#mainNav {
  background-color: $navbar-color;
  min-height: $navbar-height;
}
.navbar {
  padding-top: 0rem;
  padding-bottom: 1rem;
  &-brand {
    font-family: $navbar-font-family;
    color: $navbar-text-color;
    @include media-breakpoint-down(md) {
        display: table;
      }
  
    &-logo {
      width: 100%;
      max-height: 40px;
      image-rendering: auto;
      image-rendering: crisp-edges;
      image-rendering: pixelated;

      /* Safari seems to support, but seems deprecated and does the same thing as the others. */
      image-rendering: -webkit-optimize-contrast;
      @include media-breakpoint-down(md) {
        width: auto;
        max-height: 30px;
      }
    }
    &-subtitle{
      font-size: 0.9rem;
      color: $primary;
      padding-left: 0.5rem;
      align-self: end;
      margin-top: -10px;
    }
  }
  &-toggler {
    margin-right: 0.6rem;
    border-color: transparent;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .dropdown-menu {
    background-color: $gray-100;
    li{
      font-size: 0.9rem;
      padding-bottom: 5px;
    }
  }
}

.nav {
  &-link {
    font-family: $navbar-font-family;
    color: $navbar-text-color !important;
    margin-left: 1.2rem;
    padding: 10px;
    &:hover {
      color: $navbar-text-color-hover !important;
      transition: 0.2s;
      text-decoration: none;
      background-color: $gray-100;
      border-radius: 4px;
    }
  }
}

.social-banner {
  &-list {
    list-style: none;
  }
}

@media screen and (max-width: 768px) {
    .list-container {
      display: flex;
      justify-content: center !important;
      align-items: center;
    }
}