.wp-block-latest-posts {
  &__list {
      a{
          font-size: $h4-font-size;
      }
  }
  &__featured-image {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 0.25rem;
    transition: 0.3s;
    &:hover{
      top: 5px;
      filter: brightness(80%);
      transition: 0.3s;
  }
    img {
      position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
  }
}

.wp-block-separator{
  border: none;
}


.widget .wp-block-latest-posts {
  &__list {
    list-style: initial;
      a{
          font-size: $font-size-base;
      }
  }
}

/* Hero */

.hero {
  min-height: 600px;

  &-wrapper{
    max-width: 1440px;
  }

  &-left {
    background-color: $primary; 
    background-image: linear-gradient(to top, #F6F1EE 20%, rgba(0,0,0,0) 20%); 
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-content: center;
  }

  &-img{
    border-radius: 10px;

    &--left{
      max-width: 50%;
      object-fit: cover;
    }

    &--right{
      aspect-ratio: 1/1;
    
      object-fit: cover;
    }
  }
}

.cover {
  &-title {
    font-size: $h2-font-size;
  }
}

.cover-page {
  position: relative;
  width: 100%;
  padding-top: 250px;
  overflow: hidden;
  .hover {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.55);
}
  img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  
  .entry-title {
    position: absolute;
    top: 40%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $white;
  }
}

/* Programs */

.program {
  position: relative;
  background-color: var(--PrimaryColor);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--BoxShadow);

  &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  &-wrapper {
      aspect-ratio: 3/5;
      position: relative;
  }

  &-wrapper-blue{
      background: #023955;
      background: linear-gradient(0deg, #023955 0%, rgba(55,53,53,0) 35%);
    }

    &-wrapper-orange{
      background: var(#141515);
      background: linear-gradient(0deg, #141515 0%, rgba(55,53,53,0) 35%);
    }
    
    &-wrapper-black{
      background: var(#141515);
      background: linear-gradient(0deg, #141515 0%, rgba(55,53,53,0) 35%);
    }

    &-wrapper-green {
      background: rgba(100, 185, 79, 0.8); /*rgba para darle un poco de transparencia*/
      background: linear-gradient(0deg, rgba(100, 185, 79, 0.8) 0%, rgba(55, 53, 53, 0) 35%);
    }
}

.card-description, .container-card-title {
  color: $white;
  font-family: $font-family-yaldevi;
}

.card-title,.container-card-description {
  color: $white;
  font-family: $font-family-notosans;
}

/*CAROUSEL SM */


.carousel-container {
  width: 100%;
  padding-block: 16px 32px;
  margin: 16px 32px;
  overflow-x: auto;
  display: flex;
  gap: 12px;
  align-items: center;
  scroll-snap-type: x mandatory;
}

.carousel-container::-webkit-scrollbar {
  height: 14px;
  width: calc(100% - 48px);
}

.carousel-slide {
  flex: 1 0 30%;
  aspect-ratio: 1;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bae;
  scroll-snap-align: center;
}
 

/*BANNER*/

.banner {
  &-program{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: $white;
    overflow: hidden;
    position: relative;
  }

  &-img-program{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-wrapper-program{
    position: relative;
  }
}

/* Support */

.support-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: $green;
  color: $white;
  width: 100px;
  height: 22px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.support-title {
  color: #444444;
  font-family: $font-family-yaldevi;
}

.support-description {
  color: #656A72;
  font-family: $font-family-notosans;
}

.support-image-container {
  
}

.support-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.donation{
  
  &-info {
    margin-top: 40px;
    border-bottom: 1px solid rgb(188, 186, 186, 0.5);
    border-radius: 10px;
  }

  &-text, &-link {
    font-size: 0.9rem;
    color: #656A72;
    font-family: $font-family-notosans;
    display: inline-block;
  }
}

/* Testimonial */

.bg--gray {
  background-color: $background-gray;
}

.testimonial {

  &-box {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: var(--BoxShadow);
    border-radius: 8px;
    height: 300px;
  }

  &-box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 50%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0 rgba(0,0,0,0.08);
  }

  &-title {
    color: #444444;
    font-family: $font-family-yaldevi;
  }
}

.invert-comillas{
  transform: rotate(180deg);
}

.col.cartas {
  display: flex;
  flex-direction: column;
}

.button-circle {
    width: 13px; 
    height: 13px; 
    border: 1px solid green;
    border-radius: 55%; 
    margin-left: 10px;
}

/* Banner */

.banner{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
  min-height: 334px;
  
    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-wrapper {
      position: relative;
      min-height: 334px;
    }

    &-title {
      color: #FFFFFF;
      font-family: $font-family-notosans;
    }

    &-text {
      font-size: 2rem;
      margin: 0;
      font-weight: bolder;
      font-family: $font-family-yaldevi;
      color: #FFFFFF;
      text-align: center;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      background-color: rgba(0, 0, 0, 0.6);
    }
}

/* Sponsors */
.sponsor {
  &-left {
    background-color: var(--SecondColor);
    background-color: #205DA3;
  }

  &-right {
    background-color: var(--ThirdColor);
    background-color: #64B94F;
  }

  &-background {
    width: 80%;
    border-radius: 5px;
  }

  &-title {
    font-family: $font-family-yaldevi;
    color: #FFFFFF;
    font-size: 2rem;
  }
  
  &-description {
    font-family: $font-family-notosans;
    color: #FFFFFF;
  }

  &-button {
    width: 12px; 
    height: 12px; 
    border: 1px solid #FFFFFF;
    border-radius: 55%; 
    margin-left: 13px;
  }
}

/* FAQS */

.accordion {
  
  &-button::after {
    display: none;
  }

  &-button:focus {
    background-color: $white;
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
  }

  &-button:active {
    background-color: $white;
  }

  &-button:not(.collapsed) {
    background-color: $white;
  }

  &-button[aria-expanded="true"] .plus-icon {
    transform: rotate(45deg);
  }
}

.faqs-title {
  font-family: $font-family-yaldevi;
  font-size: 2rem;
}

.faqs-accordion {
  width: 60%;
}

.question {
  border: none;
  border-bottom: 2px solid #C4C4C4;
}

.question-text {
  font-family: $font-family-notosans;
  font-weight: $font-weight-semibold;
  color: #656A72;
}

.plus-icon {
  transition: transform 0.3s ease;
}

hr {
  width: 105%;
  border: 1px solid;
}

/* footer */

.footer-container {
  background-color: #f8f8f8;
}

.copyright {
  background-color: #404040;
}

.copyright-text {
  color: #F6F1EE;
}

.strong {
  font-weight: bolder;
  color: #2F2F2F;
}


/* Responsive */




@media screen and (max-width: 576px) { /* SM */
  .faqs-accordion {
    width: 80%;
  }

  .support-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
  }

  .program-container-text {
    margin-bottom: 0.5rem;
  }

  .carousel-container {
    width: 60%;
  }

  .program-wrapper {
    aspect-ratio: 4/6;
  }

  .support-image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .donation-text {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {  /*MD*/

  .carousel-container {
    width: 60%;
  }

  .program-wrapper {
    aspect-ratio: 4/6;
  }

  .card-title, .card-description {
    font-size: 1rem;
  }

  .support-image {
    width: 90%;
  }

  .banner-text {
    width: 90%;
  }

}