.wp-block-latest-posts {
  &__list {
      a{
          font-size: $h4-font-size;
      }
  }
  &__featured-image {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 0.25rem;
    transition: 0.3s;
    &:hover{
      top: 5px;
      filter: brightness(80%);
      transition: 0.3s;
  }
    img {
      position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
  }
}

.wp-block-separator{
  border: none;
}


.widget .wp-block-latest-posts {
  &__list {
    list-style: initial;
      a{
          font-size: $font-size-base;
      }
  }
}


/* Support */

.support-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: $green;
  color: $white;
  width: 100px;
  height: 22px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.support-title {
  color: #444444;
  font-family: $font-family-yaldevi;
}

.support-description {
  color: #656A72;
  font-family: $font-family-notosans;
}

.support-image {
  aspect-ratio: 3 / 5;
  object-fit: cover;
  border-radius: 10px;

}

.donation{
  
  &-info {
    margin: 40px 0;
    border-bottom: 1px solid rgb(188, 186, 186, 0.5);
    border-radius: 10px;
  }

  &-text, &-link {
    font-size: 0.9rem;
    color: #656A72;
    font-family: $font-family-notosans;
    display: inline-block;
  }
}

/* Testimonial */
.testimonial {
background-color: $background-gray;  
padding-top: 1.5rem;
padding-bottom: 6rem;
margin-top: 3rem;
&-box {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: var(--BoxShadow);
    border-radius: 8px;
    height: 300px;
  }

  &-box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 50%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0 rgba(0,0,0,0.08);
  }

  &-title {
    color: #444444;
    font-family: $font-family-yaldevi;
  }
}

.invert-quotes{
  transform: rotate(180deg);
}

.carousel-indicators [data-bs-target]{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: $green;
  
}

.carousel-indicators-white [data-bs-target]{
  background-color: $white;
}

.carousel-controls{
  position:relative; 
   width:300px;
   margin:0 auto;
 }
 
 .carousel-indicators{
    bottom: -4rem;
 }

/* Banner */
.banner{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
  min-height: 334px;
  
    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-wrapper {
      position: relative;
      min-height: 334px;
      padding: 4rem 0;
    }

    &-title {
      color: #FFFFFF;
      font-family: $font-family-notosans;
    }

    &-text {
      font-size: 2rem;
      margin: 0;
      font-weight: bolder;
      font-family: $font-family-yaldevi;
      color: #FFFFFF;
      text-align: center;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      background-color: rgba(0, 0, 0, 0.6);
    }
}

/* Sponsors */
.sponsor {
  &-left {
    background-color: $blue;
    padding: 3rem 0 5rem;
  }

  &-right {
    background-color: $green;
    padding: 3rem 0 5rem;

  }

  &-background {
    width: 80%;
    border-radius: 5px;
  }

  &-title {
    font-family: $font-family-yaldevi;
    color: #FFFFFF;
    font-size: 2rem;
  }
  
  &-description {
    font-family: $font-family-notosans;
    color: #FFFFFF;
  }

  &-button {
    width: 12px; 
    height: 12px; 
    border: 1px solid #FFFFFF;
    border-radius: 55%; 
    margin-left: 13px;
  }
  &-img{
    max-width: 100px;
  }
}

/* FAQS */

.accordion {
  
  &-button::after {
    display: none;
  }

  &-button:focus {
    background-color: $white;
    box-shadow: none;
  }

  &-button:active {
    background-color: $white;
  }

  &-button:not(.collapsed) {
    background-color: $white;
    box-shadow: none;
  }

  &-button[aria-expanded="true"] .plus-icon {
    transform: rotate(45deg);
  }
}

.faqs-title {
  font-family: $font-family-yaldevi;
  font-size: 2rem;
}

.faqs-accordion {
  width: 60%;
  @media (max-width: 576px) {
    width: 80%;
  }
}

.question {
  border: none;
  border-bottom: 1px solid $gray-200;

  &-text{
    font-size: 1.2rem;
  }
}

.plus-icon {
  transition: transform 0.3s ease;
}

/* footer */

.footer-container {
  background-color: #f8f8f8;
}

.copyright {
  background-color: #404040;
}

.copyright-text {
  color: #F6F1EE;
}

.strong {
  font-weight: bolder;
  color: #2F2F2F;
}

